::ng-deep .nfc-menu .nfc-dropdown .menu button {
    padding: 11px 11px;
    text-decoration: none;
    transition: 0.5s;
    float: left;
    width: 100%;
    height: auto; 
    margin-bottom: 2px;
}