<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader custom-small-header">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2 class="title">{{"Product" | translate}}</h2>
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input (keyup)="onSearch()" placeholder="{{'search' | translate }}" type="text"
                                        [(ngModel)]="search_key" class="browser-default search-field"
                                        aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-mini-fab matTooltip="{{'ADD' | translate}}" color="primary"
                                            (click)="openForm('add')">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10">
                                        <button mat-mini-fab matTooltip="REFRESH" color="primary" (click)="refresh()">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="materialTableHeader custom-small-header" style="padding-left: 20px;" >
                        <div class="ml-3">
                            <div class="row">
                                <div class="box-filter">
                                    <mat-form-field class="example-full-width my-custom-control custom-select" appearance="outline">
                                        <mat-label class="filter-text-box">{{'Discount' |
                                            translate}}</mat-label>
                                        <mat-select id="discount" [formControl]="discountValue" >
                                            <mat-option value="lowest-discount"><span class="hide-checkbox">{{'Lowest Discount' | translate}}</span></mat-option>
                                            <mat-option value="highest-discount"><span class="hide-checkbox">{{'Highest Discount' | translate}}</span></mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="box-filter" style="width: 166px;">
                                    <mat-form-field appearance="outline" class="example-full-width my-custom-control custom-date-range custom-select">
                                        <mat-label class="filter-text-box">{{ 'Date' | translate }}</mat-label>
                                        <input matInput [matDatepicker]="picker" [formControl]="dateValue">
                                        <mat-datepicker-toggle matSuffix [for]="picker" class="custom-datepicker-toggle mat-datepicker-content-touch"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                  

                                <div class="box-filter" >
                                    <mat-form-field class="example-full-width my-custom-control custom-select"  
                                        appearance="outline">
                                        <mat-label class="filter-text-box">{{'Price' | translate}}</mat-label>
                                        <mat-select id="price" [formControl]="priceValue" >
                                            <mat-option value="lowest-price"><span class="hide-checkbox">{{'Lowest Price' | translate}}</span></mat-option>
                                            <mat-option value="highest-price"><span class="hide-checkbox">{{'Highest Price' | translate}}</span></mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div class="box-filter">
                                    <mat-form-field class="example-full-width my-custom-control custom-select" 
                                        appearance="outline">
                                        <mat-label class="filter-text-box">{{'Treading' | translate}}</mat-label>
                                        <mat-select id="filter" [formControl]="treadValue">
                                            <mat-option value="popular"><span class="hide-checkbox">{{'Popular' | translate}}</span></mat-option>
                                            <mat-option value="new-arrivals"><span class="hide-checkbox">{{'New Arrivals' | translate}}</span></mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="box-search-filter">
                                    <div class="box-submit-filter">
                                      <button (click)="applyValueFilter()" mat-mini-fab class="custom-search-button me-2">
                                        <mat-icon class="custom-search-icon">search</mat-icon>
                                      </button>
                                      <button (click)="clearFilters()" mat-mini-fab class="ml-1 custom-search-button">
                                        <mat-icon class="custom-search-icon">restart_alt</mat-icon>
                                      </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-body body overflow-auto">
                        <div class="responsive_table">
                            <table class="table sortable table-list">
                                <thead>
                                    <tr>
                                        <th width="30px" class="text-center">#</th>
                                        <th width="60px" class="text-center">Image</th>
                                        <th width="130px">{{'Name' | translate}}</th>
                                        <th width="60px">{{'Category' | translate}}</th>
                                        <th width="50px" class="text-end">{{'Price' | translate}}</th>
                                        <th width="50px" class="text-end">{{'Discount' | translate}}</th>
                                        <th width="50px" class="text-end">{{'Instock' | translate}}</th>
                                        <th width="60px" class="text-center"> {{'Action' | translate}} </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!loadingGet">
                                    <tr *ngFor="let data of tableData;let i = index">
                                        <th width="10px" class="text-center" scope="row">
                                            {{ data.index }}
                                        </th>
                                        <td class="text-center">
                                            <div class="box_show_img">
                                                <img *ngIf="data.thumbnail == 'image'" class="table-img"
                                                    src="../../../../assets/default-featured.png">
                                                <img *ngIf="data.thumbnail != 'image'" class="table-img" [src]="data.thumbnail">
                                                <!-- <img class="table-img"
                                                    [src]="data?.thumbnail ? data?.thumbnail : 'assets/images/default-featured.png'"
                                                    (error)="'assets/images/default-featured.png'"> -->
                                            </div>
                                        </td>
                                        <td>{{data.name}}</td>
                                        <td class="text-overflow">{{data.categoryName}}</td>
                                        <td class="text-end">{{data.unitPrice}}</td>
                                        <td class="text-end">{{data.discount}}</td>
                                        <td class="text-end">{{data.inStock}}</td>
                                        <td class="text-center">
                                            <button container="body" (click)="openForm('edit',data)"
                                                matTooltipPosition="above" matTooltip="{{'Edit' | translate}}"
                                                mat-mini-fab color="primary" class="btn-tbl-edit table-btn">
                                                <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                            </button>
                                            <button container="body" matTooltipPosition="above"
                                                matTooltip="{{'Delete' | translate}}" (click)="askingDelete(data)"
                                                mat-mini-fab class="btn-tbl-delete table-btn">
                                                <mat-icon aria-label="Edit" class="col-white">delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="loadingGet">
                                <h2 class="text-center">
                                    <div class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </h2>
                            </div>
                            <div class="text-center mt-4" *ngIf="!loadingGet && tableData.length <= 0 ">
                                {{'No Data' | translate}}
                            </div>
                            <div class="pagination-container">
                                <mat-paginator class="pagination" showFirstLastButtons (page)="loadPage($event)"
                                    [length]="total_record" [pageSize]="page_size" [pageSizeOptions]="allPageSize">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>